<div class="contact-container">
    <h1>Contáctame</h1>


</div>
<div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Escríbe tu correo</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="direccion@correo.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Deja un mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>


</div>


