<div class="main-container" >

    <div class="card" style="width: 18rem;">
    <img src="https://viajes.nationalgeographic.com.es/medio/2019/01/30/hofburg-palacio-imperial-viena_b65d8a2d_1200x630.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
    <div class="card" style="width: 18rem;">
    <img src="https://viajes.nationalgeographic.com.es/medio/2019/01/30/hofburg-palacio-imperial-viena_b65d8a2d_1200x630.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
    <div class="card" style="width: 18rem;">
    <img src="https://viajes.nationalgeographic.com.es/medio/2019/01/30/hofburg-palacio-imperial-viena_b65d8a2d_1200x630.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>

</div>


